<owl-carousel-o [options]="customOptions" class="hero-carousel">
    <ng-template carouselSlide>
        <div class="hero-slide" style="background-image: url('')">
            <div class="hero-text">
                <h1>Welcome to Ecomera</h1>
                <p>Discover the latest trends</p>
                <button mat-raised-button color="accent">Shop Now</button>
            </div>
        </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="hero-slide" style="background-image: url('')">
            <div class="hero-text">
                <h1>New Arrivals</h1>
                <p>Fresh styles just for you</p>
                <button mat-raised-button color="accent">Explore</button>
            </div>
        </div>
    </ng-template>

    <ng-template carouselSlide>
        <div class="hero-slide" style="background-image: url('')">
            <div class="hero-text">
                <h1>Exclusive Offers</h1>
                <p>Save big on select items</p>
                <button mat-raised-button color="accent">See Deals</button>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>