.hero-carousel {
  width: 100%;
  height: 400px; /* adjust height */
  position: relative;
}

.hero-slide {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-text button {
  font-size: 16px;
}
