<mat-toolbar color="primary" class="navbar">
    <!-- Uncomment if you add a logo later -->
    <!-- <img src="assets/ecomera-logo.png" alt="Ecomera Logo" class="logo"> -->

    <span class="brand" routerLink="/">Ecomera</span>

    <span class="spacer"></span>

    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/products">Products</a>
    <a mat-button routerLink="/cart">Cart</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
</mat-toolbar>